Projects/dc_bot/token.json
Projects/Sockets/ip_adr.json
Apps/Chatroom/ip_adr.json
Games/Multiplayer/client/ip_adr.json
Games/Multiplayer/client/client_data.json
Games/Multiplayer/server/server_data.json
